Requirements:

Run on Ubuntu VM:

pip3 install --user pyqt5


sudo apt-get install pyqt5-dev-tools

sudo apt-get install qttools5-dev-tools

pip install screeninfo

pip install spotipy

pip install nltk

python3 -m nltk.downloader punkt

python3 -m nltk.downloader stopwords

python3 -m nltk.downloader averaged_perceptron_tagger

python3 -m nltk.downloader wordnet


run on ubuntu by doing python3 main.py
